
@media only screen and (max-width: 600px) {
      /* CSS code for smaller screens */
      .container {
        padding: 10px;
      }
    }

.anhgt1{
  width: 100%;
}    
.topnav {
    z-index: 2;
    margin-top: 45px;
    overflow: hidden;
    background-color: rgb(250, 90, 116);
/*chinh sua*/
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 7.35%;
    text-decoration: none;
    font-size: 17px;
  }
  
  #active {
    background-color: rgb(211, 58, 76);
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    text-decoration: none;
    display: block;
}
  
  .content-drop {
    margin: 48px 37.8%;
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .content-drop a {
    float: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(211, 58, 76);
    color: white;
  }
  
  .content-drop a:hover {
    background-color: white;
    color: black;
  }
  
  .dropdown:hover .content-drop {
    display: block;
  }
  
  @media screen and (max-width: 1000px) {
    .topnav a:not(:first-child), .dropdown .dropbtn{
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .content-drop {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

/*gio hang*/
.iconCart img{
    width: 38px;
}
.iconCart{
    margin-top: -18px;
    float: left;
    margin-left: 30px;
    position:sticky;
}
.totalQuantity{
    /*    position: absolute; */
        margin-top: -10px;
        right: 0;
        font-size: x-large;
        background-color: #b31010;
        width: 30px;
        height: 30px;
        color: #fff;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: translateX(20px);   
    }


#logo{
    margin-top: 10px;
    margin-left: 50px;
    width:7%;
    border-radius: 50%;
    display: block;
}
#fix{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
    background-color: rgb(248, 197, 206);
    position:relative; /*chinh thanh bar*/
    
}
h1{
    color: crimson;
    text-align: center;
    font-family: cambria;
}

input[type=text] {
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}


@media only screen and (min-width : 150px) and (max-width : 780px)
{
	.search-box
	{
		width: 95%;
		margin: 0 auto;
	}
}
.search-box{
    position:static;
    margin-top: -10px;
      float: left;
      width: 50%;
      background-color: none;
      border: 2px solid rgb(250, 107, 107);
      border-radius: 5px;
      margin-left: 100px;
      -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  }
  .search-box input{
      height: 38px;
      width: 85%;
      border: none;
      padding-left: 10px;
  }
  .search-btn{
      float: right;
      width:15%;
      height:30px;
      line-height:40px;
      text-align: center;
  }
  .search-box input:focus, .search-box input:active, .search-box input{
      outline:0;
      outline-style: none;
      outline-width: 0;
      border-radius: 10px 0px 0px 10px;
  }
