/*header{
    bottom: 541px;
    position: fixed;
}*/

/*gio hang*/
.iconCart img{
    width: 40px;
}
.iconCart{
    margin-top: -15px;
    float: left;
    margin-left: 30px;
    position:sticky;
}
.totalQuantity{
    /*    position: absolute; */
        margin-top: -10px;
        right: 0;
        font-size: x-large;
        background-color: #b31010;
        width: 30px;
        height: 30px;
        color: #fff;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: translateX(20px);   
    }


#logo{
    margin-top: 10px;
    margin-left: 50px;
    width:90px;
    border-radius: 50%;
    display: block;
}
#fix{
    width: 1358px;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
    background-color: rgb(248, 197, 206);
    position:relative; /*chinh thanh bar*/
}
h1{
    color: crimson;
    text-align: center;
    font-family: cambria;
}
ul.navbar{
    list-style-type: none;
    background-color: rgb(250, 90, 116);
    margin-top: 6px;
    display:flex;
    overflow: hidden;
    float: inline-start;
}
ul.navbar a{
    font-style: bold;
    position: relative;
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 101.75px;
    display:block;
    text-align: justify;
    justify-content: line space-between;
    align-items: center;
}
.navbar a:hover{
    background-color: rgb(211, 58, 76);
}
.navbar li{
    float: none;
}
input[type=text] {
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 100%;
}

.search-box{
    position:static;
    margin-top: -10px;
      float: left;
      width: 700px;
      background-color: none;
      border: 1px solid rgb(250, 107, 107);
      border-radius: 10px;
      margin-left: 100px;
  }
  .search-box input{
      height: 38px;
      width: 85%;
      border: none;
      padding-left: 10px;
  }
  .search-btn{
      float: right;
      width:15%;
      height:30px;
      line-height:40px;
      text-align: center;
  }
  .search-box input:focus, .search-box input:active, .search-box input{
      outline:0;
      outline-style: none;
      outline-width: 0;
      border-radius: 10px 0px 0px 10px;
  }
.dropdown button{
    padding: 0;
    border: none;
    cursor: pointer;
    display: inline-block;
}
.dropdown a{
    display:block;
    padding: 0;
    text-decoration: none;
}
.dropdown .content{
    z-index: 2;
    float: right;
    display: none;
    position:absolute;
    margin-top: 0px;
    background-color: rgba(236, 101, 101, 0.479);
    width: 280px;
    box-shadow: 2px 1px 4px black;
}
.dropdown:hover .content{
    display: block;

}